.header-navbar {
  >div {
    border-right: solid #BCCCDC 2px;

    &:last-child {
      border-right: solid #BCCCDC 0px;
    }
  }
  >div:hover {
    cursor: pointer;
    background-color: #BCCCDC;
  }
}