<div
	class="w-full bg-[#D9EAFD] flex justify-between text-[#1d5e9e] font-proza"
>
	<div class="flex header-navbar">
		<div 
			*ngFor="let menu of navbarMenu"
		>
			<dropdown
				*ngIf="menu.subMenu; else menuTitle"
				[dropdownTitle]="menu.val"
				[dropdownData]="menu.subMenu"
				(selectedMenu)="onClickNavbarMenu(menu.path+'/'+$event)"
			></dropdown>

			<ng-template #menuTitle>
				<div class="px-3 py-2"
					(click)="onClickNavbarMenu(menu.path)"
				>
					{{menu.val}}
				</div>
			</ng-template>

		</div>
	</div>
	<div>Lang</div>
</div>