<div class="h-screen" tabindex="0" (keyup)="keyboardEventListener($event)">
  <div
		class="flex items-center justify-center h-full"
		[ngClass]="{'bg-black bg-opacity-25' : isWinGame || !isStartGame}"
	>
		<!-- Win Modal -->
		<div
			*ngIf="isWinGame"
			class="win-modal inset-0 flex items-center justify-center z-50"
		>
			<div class="bg-[#F5F5F5] rounded-lg shadow-lg p-8 w-96 flex flex-col gap-4">
				<div class="text-5xl font-semibold text-center text-[#48CFCB]">YOU WIN!</div>
        <div class="flex gap-1 flex-col text-[#229799]">
          <div class="text-xl flex gap-1">
            <div class="w-1/2 flex justify-end">Your Time</div>
            <div>: <span>{{formatedPlayTime}}</span></div>
          </div>
          <div class="text-xl flex gap-1">
            <div class="w-1/2 flex justify-end">Your Best Time</div>
            <div>: <span>{{formattedBestTime}}</span></div>
          </div>
        </div>
				<div class="w-full">
					<button
						class="bg-[#424242] text-[#48CFCB] px-4 py-2 rounded-lg hover:bg-[#626262] w-full"
						(click)="resetTable()"
					>
						New Game
					</button>
				</div>
			</div>
		</div>
		<!-- Win Modal -->

		<!-- Start Game Modal -->
		<div
			*ngIf="!isStartGame"
			class="win-modal inset-0 flex items-center justify-center z-50"
		>
			<div class="bg-white rounded-lg shadow-lg p-8 w-96 flex flex-col gap-4">
				<div class="text-5xl font-semibold text-center">SUDOKU</div>
				<p>You have saved progress of previous game, do you want to continue or start new game?</p>
				<div class="flex gap-2">
					<button
            *ngIf="hasSavedGame"
						class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 w-full"
						(click)="continueSavedGame()"
					>
						Continue
					</button>
					<button
						class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 w-full"
            [ngClass]="{'hover:bg-slate-400 bg-slate-300': hasSavedGame}"
						(click)="resetTable()"
					>
						New Game
					</button>
				</div>
			</div>
		</div>
		<!-- Start Game Modal -->

		<div
			*ngIf="isStartGame"
			class="flex flex-col gap-6"
		>
			<loading
				*ngIf="isLoading"
				class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-25 z-50"
			></loading>
			<!-- Sudoku table start -->
			<div>
				<div class="timer">
					{{formatedPlayTime}}
				</div>
				<div 
					*ngFor="let tableRow of sudokuTable; let tR = index"
					class="flex"
				>
					<div *ngFor="let tableBox of tableRow; let tB = index" class="border-2">
						<div *ngFor="let boxRow of tableBox; let bR = index" class="flex">
							<div 
								*ngFor="let sudokuCell of boxRow; let sC = index"
								class="w-[7vh] h-[7vh] border sudoku-cell flex items-center justify-center"
								[ngClass]="{
									'active-cell': sudokuCell.isActive,
									'locked-cell': sudokuCell.isLocked,
									'neighbour-cell': sudokuCell.isNeighbour
									}"
								(click)="onClickCell(tR, tB, bR, sC)"
								>
								{{sudokuCell.val != 0 ? sudokuCell.val : ''}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Sudoku table end -->
			<div class="flex flex-wrap gap-3 max-w-[63vh]" *ngIf="isStartGame">
				<div
					*ngFor="let buttonVal of sudokuButton"
					class="border border-[#a6a5a5] rounded-lg py-3 px-[18px] cursor-pointer"
					[ngClass]="{'disabled-sudoku-button': !isAnyActiveCell && buttonVal!='Reset'}"
					(click)="onClickActionButton(buttonVal)"
				>
					{{buttonVal}}
				</div>
			</div>
		</div>
  </div>
</div>
