.sudoku-cell:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
}

.active-cell {
    background-color: rgb(144, 142, 142);
    &:hover {
        background-color: rgb(144, 142, 142);
    }
}

.neighbour-cell {
    background-color: rgb(230, 240, 250);
}

.sudoku-cell.locked-cell {
    color: #989898;
    cursor: default;

    &:hover {
        background-color: inherit;
    }
}

.win-modal {
    font-family: "Jersey 15", serif;
}
.timer {
    font-family: "Jersey 15", serif;
    font-size: 2rem; /* Adjust size */
    font-weight: bold;
    letter-spacing: 2px;
}

.disabled-sudoku-button {
    background-color: rgb(234, 234, 234);
    border-color:  rgb(184, 184, 184);
    color: rgb(210, 210, 210);
    cursor: default;
}