<div class="flex flex-col gap-5 w-full">
  <div class="flex justify-between">
    <valorant-skill-frame
      [skillIcon]="role?.displayIcon ?? ''"
      skillLabel="INFO"
      (click)="onSelectInfo('INFO')"
      [isActive]="getIsSelectedInfo('INFO')"
    />
    <valorant-skill-frame
      *ngFor="let skill of skills"
      [skillIcon]="skill.displayIcon"
      [skillLabel]="skill.slot"
      (click)="onSelectInfo(skill.slot)"
      [isActive]="getIsSelectedInfo(skill.slot)"
    />
  </div>
  <div class="skill-bottom-border">
    <div></div>
    <div></div>
  </div>
  <div
    *ngIf="getIsSelectedInfo('INFO')"
    class="font-iceland text-[#fe4654] leading-4 font-[1000] text-lg"
  >
    {{ agentDescription }}
  </div>
  <div class="flex flex-col gap-2 font-iceland text-[#ebe8e0cc] leading-4 text-lg">
    <div >
      {{ informationLabel | uppercase}}
    </div>
    <div>
      {{ informationDescription }}
    </div>
  </div>
</div>